{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}Lista de Pessoas{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Lista de Pessoas</h2>
        <a href="{% url 'people:pessoa_create' %}" class="btn btn-primary mb-3">Criar Nova Pessoa</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Função</th>
                    <th>Data de Nascimento</th>
                    <th>Idade</th> 
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.email }}</td>
                    <td>{{ pessoa.celular }}</td>
                    <td>{{ pessoa.funcao }}</td>
                    <td>{{ pessoa.data_nascimento }}</td>
                    <td>{{ pessoa.idade_calculada }}</td> 
                    <td>{{ pessoa.ativo }}</td>
                    <td>
                        <a href="{% url 'people:pessoa_update' pessoa.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'people:pessoa_delete' pessoa.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}