{% extends 'core/base.html' %}
{% block title %}Lista de Usuários{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Lista de Usuários</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome de Usuário</th>
                    <th>E-mail</th>
                    <th>Data de Registro</th>
                    <th>Superusuário?</th>
                    <th>Ativo?</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.date_joined }}</td>
                    <td>{{ usuario.is_superuser|yesno:"Sim,Não" }}</td>
                    <td>{{ usuario.is_active|yesno:"Sim,Não" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}